@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-header {
  background: url("/img/building.jpg") center center no-repeat;
  filter: blur(10px);
  background-size: cover;
  background-attachment: fixed;
}